/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}


.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/******** Header ********/

.header {
    display: flex;
    align-items: start;
}
.logo {
    height: 20px;
    padding-top: 30px;
}

.nav-bar {
    display: flex;
    margin-bottom: 15px;
    align-items: start;
}

.header-nav-link {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    width: 120px;
    padding: 20px;
    border-top: 4px solid transparent;
    justify-content: space-evenly;
}

.header-nav-link:hover {
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

h1 {font-size: 22px;}

/* Search */

.fa-location-dot {color:black}

.adhook {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 1em;}

.circle {
    display: flex;
    justify-content: center;
    height: 25px;
    min-width: 25px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
}

.fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-icon {
    font-size: large;
}

.search-form {display: inline-flex;
    height: 40px;
}

.search-form-icon {
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}
.search-form-input {
    display: flex;
    background-color: #FFFFFF;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    flex-wrap: wrap;
    width: 160px;
}

.search-form-input::placeholder {
    display:flex;
    color: black;
    font-weight: bold;
    padding-left: 20px;
    font-size: 11pt;

}

.search-form-submitinput-button {
    display:flex;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    border: 2px solid #0065FC;
    color:#ffffff;
    font-weight: 700;
    align-items: center;
}

.search-form-submitinput-text {
    margin-left: 10px;
    margin-right: 10px;
}

.fa-magnifying-glass {
    color:#FFFFFF
}

.filter-title {
    font-weight: bold;
    margin-right: 10px
}

.filter-name {
    font-size:14px;
}

.filter-div {
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
}

.button-filter {
    display: inline-flex;
    align-items: center;
    height: 40px;
    background-color: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 50px ; 
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.button-filter:hover {background-color: #DEEBFF;}

.button-filter i {
    display: flex;
}

.button-filter span {
    font-weight: 800;
    margin-left: 10px;
}

.search-results {
    display: flex;
    align-items: center;
}

.Information{
    font-weight: 500;
    font-size: 1em;
    margin-left: 10px;
    padding: 10px;
}
/****** hostings And popular ***********/
.hostings-and-popular {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

/****** hostings ***********/
.hostings {
    width: 65%;
}

.hostings-title {
    justify-content: space-between;
    align-items: center;


}

.hostings-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
    grid-auto-flow: row;
}

.item1 {
    grid-column: 1;
    grid-row: 1;
}


.hostings-cards img {
    align-items: start;
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hostings-cards .card-content {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 10px;
}

.hostings-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    ;
}

.hostings-cards .card-subtitle {
    margin: 0;
}

.hostings-cards .card-rating {
    margin-bottom: 5px;
}

/****** popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    align-items: end;
    margin-bottom: 5px;
}

/* activités */

.activities {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-top: 50px;
}

.activities-title {
    justify-content: space-between;
}

.activities-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    grid-auto-flow: row;
}

.activities-cards .card {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 33px;
    margin-bottom: 45px;
    padding: 0px; 
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.activities-cards-img {
    display: inline-flex;
    align-items: start;
    width: 100%;
    height: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    height: 340px;
}


.activities-cards .card-content {
    width: 100%;
    margin-left: 10px;
}

.activities-cards .card-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* footer */
.footer {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.footer-title {
    font-weight: bold;
    margin-right: 10px;
}

.footer-item {
    font-size: small;
    font-weight: 500;
}

.footer-section {
    width: 33%
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px
        ) and (min-width: 768px){
    .hostings-and-popular {
        flex-direction: column;
    }

    /* Search */

    .filter-div {
        flex-wrap: wrap;
    }

    .button-row {
        width: 100%;
    }

    /* hostings and popular */

    .hostings-and-popular section{
        flex-direction: column;
    }

    .card-subtitle {
        font-size: 12px;
    }

    .hostings {
        width: 100%;
    }

    .hostings-cards .card-title {
        font-size: 14px;
    }

    .popular {
        width: 100%;
        margin-top: 50px;
        padding: 30px 0 30px 0;
    }

    .popular-cards {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }

    .popular-cards .card {
        display: flex;
        margin-top: 20px;
    }

    .popular-cards a {
        width: 30%;
    }

    .popular-cards .card-title {
        font-size: 14px;
    }

    .popular-cards .card-subtitle {
        font-size: 13px;
    }

    /* activities */

    .activities-cards-img {
        height: 200px;
    }

    .activities-cards {
        height: 300px;
        margin-bottom: 40px;
    }

    .activities-cards .card-title {
        font-size: 14px;
    }
    

    /* footer */

    .footer-title {
        font-size: 14px;
    }

    .footer-item {
        font-size: 12px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0 0px
    }

    /* Header */

    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
        margin: 0px 0px;
    }

    .logo {
        display:flex;
        justify-items: center;
        height: 30px;
        margin-bottom: 20px;
    }

    .nav-bar{display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 0px;
} 

    .header-nav-link {
        width: 100%;
        border-top: 4px solid transparent;
        border-bottom: 4px solid #F2F2F2;
        font-size: 18px;
        font-weight: 500;
        padding-left: 0px;
        padding-right: 0px;
    }

    .header-nav-link:hover {
        position: relative;
        color: #0065FC;
        width: 100%;
        border-top: 4px solid transparent;
        border-bottom: 4px solid #0065FC;
    }

    /* search */

    h1 {
        font-size: 30px;
        margin-bottom: 0;
    }

    .adhook {
        font-size: 20px;
    }

    .search {padding: 0 0px}

    .search-form {
        width: 100%;        
    }

    .search-form-icon {
        border-radius: 15px 0 0 15px;
        width: 70px;
        height: 60px;    
    }

    .search-form-input {
        width: calc(100% - 25px);
        height: 60px;
        font-size: 22px;
        font-weight: bold;
        padding-left: 20px;
        margin-right: -25px;
        align-items: center;
        justify-content: center;
    }

    .search-form-input::placeholder {
        display:flex;
        color: black;
        font-weight: bold;
        padding-left: 20px;
        font-size: 22px;
    }

    .search-form-submitinput-button {
        border-radius: 15px;
        width: 70px;
        height: 60px;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        box-shadow:0px 3px 2px 1px rgba(0, 0, 0, 0.301);
    }

    .fa-magnifying-glass {
        font-size: large
    }

    .filter-title {
        font-weight: bold;
        font-size: 22px;
        margin-left: 20px
    }
    
    .top-search {margin-bottom: 30px;
        padding: 10px;}

    .filter-div {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 15px;
    }
    
    .button-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;

    }

    .button-filter {
        display: inline-flex;
        align-items: center;
        height: 60px;
        width: 45%;
        background-color: #FFFFFF;
        border: 2px solid #D9D9D9;
        border-radius: 50px ;
        margin-right: 0px; 
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .filter-name {
        justify-items: center ;
        font-size: 18px;
    }

    .filter-icon {
        font-size: x-large;
    }

    .search-results {
    padding: 30px;
    }

    .information {
        font-size: 20px;
        font-weight: 500;
    }

    /* hosting and popular */

    .hostings-and-popular {
        flex-direction: column-reverse;
    }

    .card {
        width: 99%;
        filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1))
    }

    .card-title {
        font-size: 20px;
    }

    .card-subtitle {
        font-size: 18px;
    }

    .hostings-and-popular section {
        border-radius: 0px;
        box-sizing: border-box;
    }

    .popular {
        background-color: var(--main-bg-color);
        padding: 30px;
        box-sizing: border-box;
        width: 100%;
        margin-top: 0px;

        border-radius: 0px;}

    .popular-cards {
        flex-direction: column;
        flex-wrap: wrap;
    }


    .hostings {
        width: 100% ;
        background-color: #FFFFFF;
        padding: 30px;
    }

    .hostings-cards {
        grid-template-columns: 1fr;
    }

    .hostings-cards img {
        height: 160px;
        object-fit:cover;
        object-position: 50% 60%;
    }

/* activities */

    .activities {
        padding: 30px;
        margin: 0;
    }

    .activities-cards {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .activities-cards .card {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;

    }

    .activities-cards img {
        object-fit: cover;
        height: 220px;
    }

/* footer */

    .footer {
        flex-direction: column;
        padding: 30px;
    }

    .footer-section {
        width: 100%;
    }

    .footer-title {
        font-size: 22px;
    }

    .footer-item {font-size: 18px;}
}


/* Galaxy Fold shitshow */

@media (max-width: 280px) {

    .main-container {
        padding: 15px;
    }

    .link-hosting {
        padding-left: 5px;
    }

    .search-form-input::placeholder {
        display:flex;
        color: black;
        font-weight: bold;
        padding-left: 1px;
        font-size: 16px;
    }

    .circle {
        margin-left: 10px;
    }

    .filter-name {
        font-size: 12px;
        margin-right: 0px;
    }
}


/* miscellanous css variations depending on screen size */

@media (min-width: 768px) {
    .fa-magnifying-glass {
        display: none;
    }

    .hostings-and-popular section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
    }
}

@media (max-width: 768px) {
    .search-form-submitinput-text {
        display: none;
    }
}